div#head
    a(href='/index')#new.active
        <img>最新分享
    a#hot
        <img>最热分享
    if sessionUser
      a#personal(href='/user?userId=#{sessionUser._id}' data-userId='#{sessionUser._id}')
        <img>个人中心
      h5 欢迎你#{sessionUser.userName}
    else
      #checked
        a(href='/login') 登陆
        span  / 
        a(href='/regist') 注册
block append script
    script(src="/js/head.js")

