div#head
    if isIndex==true
        a(href='/index')#new.active 最新分享
        a(href='/hotIndex')#hot 最热分享
    else
        a(href='/index')#new 最新分享
        a(href='/hotIndex')#hot.active 最热分享
    if sessionUser
      a#logout(href='/login') 注销
      h5 欢迎你#{sessionUser.userName}
      a#personal(href='/user?userId=#{sessionUser._id}' data-userId='#{sessionUser._id}') 个人中心
      
    else
      #checked
        a(href='/login') 登陆
        span  / 
        a(href='/regist') 注册
block append script
    script(src="/js/head.js")

