div#head
	a#new.active
		<img>最新分享
	a#hot 
		<img>最热分享
	a#personal 
		<img>个人中心




#loginblock
	p#title 用户登录
	form(role="form")
		.form-group
			label(for="account" ) 账号
			input.form-control#account(name="account" placeholder="请输入账号")
		.form-group
			label(for="password") 密码
			input#password.form-control(name="password" placeholder="请输入密码")
		button#login.btn.btn-primary 登录
		#enrollblock
			a#enroll 注册
			span /
			a#forget 忘记密码

block append script
	script(src="/js/head.js")
