if shares.images
    #picPanel
        each pic in shares.images
            img#singlePic(src='/image?imageId=' + pic)
else
    #picsPanel
        each pic,item in shares.images
            if item == 0
                img#singlePic(src='/image?imageId=' + pic)
            else
                #row
                    each pic,item in picture
                        if item >= 1
                            img#singlePic(src='/image?imageId=' + pic)

