-var picture1=['/img/user/test1.jpg']
-var picture=['/img/user/test1.jpg','/img/user/test2.png','/img/user/test3.jpg','/img/user/test4.jpg','/img/user/test5.jpg','/img/user/test6.jpg']
if picture.length==1
	#picPanel
		each pic in picture
			img#singlePic(src='#{pic}')
else
	#picsPanel
		each pic,item in picture
			if item==0
				img(src= pic,value= item)
			else 
				#row
					each pic,item in picture
						if item>=1
							img(src= pic,value= item)

	