//-var picture=['/img/bg.jpg','/img/chat.svg']
//if ids
//    #picPanel
//        each pic in ids
//            img#singlePic(src='/image?imageId=' + pic)
//else
//    #picsPanel
//        each pic,item in ids
//            if item == 0
//                img(src='/image?imageId=' + pic)
//            else
//                #row
//                    each pic,item in ids
//                        if item >= 1
//                            img(src='/image?imageId=' + pic)


if shares.images
    #picPanel
      each pic in shares.images
        img#singlePic(src='/image?imageId=' + pic)

