- var praise = 35
- var collect = 20
- var comment = 15



#rightBar
  #personInfo_block
    #personInfo_bg
    div.user_pic#user_pic_sm
      img(src="/img/user/user.jpg")
    h3.user_name 暝暝之钟ing
    a(href="javascript:;") 屏蔽

  #result_block
    h4 我的收获
    ul
      li
        .result_number= praise
        .result_text 赞
      li
        .result_number= collect
        .result_text 收藏
      li
        .result_number= comment
        .result_text 评论