#leftBar
  ul
    li
      a(href='/index') 首页
    li
      a(href='/user/myShare') 我的分享
    li
      a(href='/user/myLike') 我的点赞
    li
      a(href='/user/myCollection') 我的收藏
    li
      a(href='/user/myComment') 我的点评