div#user_header
  div.user_pic#user_pic_lg(data-userId='#{user._id}')
    if user.portraitUrl
        img(src='/image?imageId=' + user.portraitUrl)
    else
        img(src='../img/user/user.jpg')
  h3.user_name= user.userName