doctype html
html
	head
		block title
		block style
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')
			link(rel='stylesheet',href='/stylesheets/common.css')
			link(rel='stylesheet',href='/stylesheets/head.css')
			link(rel='stylesheet',href='/stylesheets/footer.css')
	body
		include includes/header
		input#search.form-control(placeholder="搜索")
		img#searchIcon(src="/img/search.svg")
		block content
		include includes/footer
		block script

