doctype html
html
  head
    block title
    block style
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    include includes/header
    block content
    include includes/footer
    block script
