div#userBlock {
    width: 1000px;
    margin: 0 auto;
}
#backstageTitle {
    padding: 30px 0;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    font-family: SimHei;
    letter-spacing: 2px;
}
div#userBlock .container {
    width: 100%;
}
#userBlock table{
	text-align: center;
}
#userBlock table th{
	text-align: center;
}
