#discussList{
	padding: 10px 50px;
	padding-right:10%; 
	border-bottom: 2px solid #d9d9d9; 
}
#discussList:last-child{
	border-bottom:none; 
}
#discussContent img,
#discussContent p{
	float: left;
}
#discussContent img{
	width:50px;
	height: 50px;
	margin-right:10px; 
}
#discussContent strong{
	color: #eea236;
	font-size: 18px;
	padding: 5px;
}
#discussContent p{
	font-size: 14px;
}
#discussDetail{
	margin: 10px 50px; 
}
#discussDetail span{
	float: left; 
	margin: 0 10px;
}
#discussDetail a{
	float: right;
}