#container{
	margin:0 auto;
	width:84%;
	min-width: 680px;
}
#box,
#boxes{
	width:29%;
	margin:2%;
	position: relative;
	display: inline-block;
}
#picPanel,
#picsPanel{
	height: 310px;
}
#boxes #picsPanel #row img{
	height: 60px;
}
#box #comment,
#boxes #comment{
	opacity: 0;
	font-size: 14px;
	height: 80px;
	position: absolute;
	left: 0;
	bottom:-10px;
	overflow: hidden;
	background: rgba(255,255,255,0.7);
	transition: all 1s;
}
#box #comment:hover,
#boxes #comment:hover{
	opacity: 1;
	bottom: 0px;
}
#boxes #comment{
	bottom: 75px;
}
#boxes #comment:hover{
	bottom: 85px;
}