#container{
	margin:0 140px;
	min-width: 680px;

}
#box,
#boxes{
	width:190px;
	position: relative;
	display: inline-block;
	margin:15px 10px;
}

#picPanel,
#picsPanel{
	height: 190px;
}
#picsPanel img:first-child{
	width:100%;
	height: 145px;
}
#boxes #picsPanel #row{
	margin:0 -1px;
}
#boxes #picsPanel #row img{
	height: 40px;
	width: 36px;
	margin: 5px 1px 0;
}
#box #comment,
#boxes #comment{
	opacity: 0;
	font-size: 14px;
	width:100%;
	height: 80px;
	position: absolute;
	left: 0;
	bottom:-10px;
	overflow: hidden;
	background: rgba(255,255,255,0.7);
	transition: all 1s;
}
#box #comment:hover,
#boxes #comment:hover{
	opacity: 1;
	bottom: 0px;
}
/*#boxes #comment{
	bottom: 75px;
}*/
/*#boxes #comment:hover{
	bottom: 85px;
}*/

#search{
	margin: 10px 0 10px 150px;
	width: 300px;
/*	opacity: 0.8;*/
}
#searchIcon{
	height: 30px;
    position: absolute;
    top: 83px;
    left: 415px;
    cursor: pointer;
}