/*注册登录*/
#loginblock{
	width: 400px;
	height: 300px;
	position: absolute;
	z-index: 1000;
	top:50%;
	left:50%;
	border: 2px solid #75b1d5;
	margin-top:-150px;
	margin-left: -200px; 	
}
#loginblock #title{
	margin:0;
	line-height: 50px;
	background-color: #428bca;
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}
#loginblock .form-group label{
	display: block;
}
#loginblock .form-group label,
#account,
#password{
	width:300px;
	margin:10px auto; 
	font-size: 16px;
}
#login,
#regist{
	margin-right:50px;
	float: right;
}
#loginError,
#registError {
	margin:10px 0 0 50px;
	width:130px;
	float: left;
	color: red;
	display: none;
}
#registError{
	color: #337ab7;
	display: block;
}
.form-group{
	margin-bottom: 0;
}
#registError a{
	color:red;
}

#enroll{
	display: block;
	margin-top: 25px;
	margin-left: 230px;
	font-size: 16px;
}