/*清楚浮动*/
#discussDetail:after{
	display: block;
	content: '';
	visibility: hidden;
	clear: both;
}
#share-container{
	margin: 20px auto;
	width: 680px;
	color: #333;
	border-radius: 5px;
	background-color: rgba(42,42,42,0.3);
}

/*分享人信息*/
#share-container #sharer,
#sharePanel{
	padding: 20px;
	background-color: #fff;
}
#share-container #sharer img{
	width: 50px;
	height: 50px;
	background-color: #eee; 
	border-radius: 25px;
	float: left;
	margin-right: 10px;
}
#share-container #sharer p{
	line-height: 25px;
	margin: 0;
}
#share-container #Name{ 
	font-weight: bold;
	font-size: 16px;
	color: #eb7350;
}
#sharer #data{
	color: #c1c1c1;
}
#paragraph{
	text-indent: 2em;
	margin-left: 60px;
	font-weight: bold;
}

/*图片展示*/
#sharerPicture{
	position: relative;
	top: 0;
	left: 0;
	width:451px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#left,
#right{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 125px;
	left: -50px;
	background: url('/img/leftright.png') 0 0 no-repeat;
}
#right{
	left:450px;
	background: url('/img/leftright.png') 0 -76px no-repeat;
}
#left:hover{
	background: url('/img/leftright.png') 0 -38px no-repeat;
}
#right:hover{
	background: url('/img/leftright.png') 0 -115px no-repeat;
}

/*点赞收藏评论*/
#sharePanel{
	padding:10px 0;
	border-bottom: 2px solid #d9d9d9;
}
#sharePanel #collect,
#sharePanel #praise,
#sharePanel #comment{
	background: url('../img/icon.png') no-repeat;
    background-size: 25px;
    position: relative;
}
#sharePanel #collect{
	background-position: 50px -150px; 
}
#sharePanel #collect.active{
	background-position: 50px -200px; 
}
#sharePanel #praise{
	background-position: 50px 0px;
}
#sharePanel #praise.active{
	background-position: 50px -50px;
}
#sharePanel #comment{
	background-position: 50px -100px;
}
#sharePanel #collect,
#sharePanel #comment{
	border-right: 2px solid #d9d9d9; 
}
#sharePanel #collect,
#sharePanel #comment,
#sharePanel #praise{
	line-height: 25px;
	width:226px;
	float: left;
	text-align: center;
}

/*输入评论*/
#share-input{
	padding: 2px 5px;
	margin-bottom:20px; 
	height: 120px;
	font-size: 16px;
	line-height: 30px;
	background-color: #f9f9f9; 
}
#share-comment p{
	color: #eee;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
#share-comment{
	margin: 20px 10% 40px;
}
#share-comment .btn{
	width: 80px;
	float: right;
}
/*回复*/
.reply-wrap{
	display: none;
}
