div#user_container div#leftBar {
    position: absolute;
    left: 0;
    top: 20px;
    width: 160px;
}

div#user_container div#leftBar>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div#user_container div#leftBar li {
    padding-left: 15px;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
div#user_container div#leftBar a{
    color: #ffffff;
    display: block;
    text-decoration: none;
}
div#user_container div#leftBar li:hover{
	background-color: #a7d4eb;
}