div#user_container div#user_share {
    height: 225px;
    background-color: #ffffff;
    padding: 0 10px 10px 10px;
    position: relative;
}

div#user_container div#user_share h4{
    margin: 0;
    font-size: 14px;
    color: #1b7fb6;
    font-weight: bold;
    letter-spacing: 1px;
    height: 45px;
    line-height: 45px;
}
span#input_tip {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}
span#input_num {
    font-weight: bold;
    color: #1b7fb6;
    font-size: 15px;
    padding: 0 2px;
}
textarea#share_content {
    height: 85px;
    width: 100%;
    resize: none;
    padding: 5px;
}
.file_div {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    width: 90px;
    color: #808080;
    height: 30px;
    float: left;
}
.file_div>input {
    width: 100%;
    height: 100%;
}
.file_div>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
}
.file_tip {
    float: left;
    margin-top: 20px;
    height: 20px;
    margin-left: 8px;
    font-size: 13px;
    color: #808080;
}

div#user_container #btn-publish {
    background-color: #FFC09F;
    border: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 14px;
    width: 82px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}