div#user_container div#rightBar {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 200px;
}

/* commmon */
div#user_container #rightBar>div{
    background-color: #ffffff;
    margin-top: 10px;   
}
div#user_container #rightBar>div>h4 {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    height: 42px;
    line-height: 42px;
}

/* 个人信息板块 */
div#user_container div#personInfo_block{
	background-color: #ffffff;
	height: 145px;
	position: relative;
	padding-top: 30px; 
    margin: 0;
}
div#user_container div#personInfo_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: url(/img/user/bg_s.jpg) no-repeat 0 0;
	background-size: 100% 100%;
}
div#user_container div#user_pic_sm{
	position: relative;
	width: 66px;
    height: 66px;
}
div#user_container div#user_pic_sm>img{
	padding: 3px;
}
div#user_container div#personInfo_block h3{
	font-size: 14px;
	letter-spacing: 1px;
    color: #333;
}
div#user_container div#personInfo_block #concern {
    color: #808080;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-family: 'Arial','Microsoft YaHei';
}
div#user_container div#personInfo_block #ignore {
    color: #808080;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-family: 'Arial','Microsoft YaHei';
}


/* 我的收获板块 */
div#user_container div#result_block>ul {
    margin: 0;
    list-style: none;
    padding: 0px 0px 15px;
    height: 52px;
    box-sizing: border-box;
}
div#user_container div#result_block li {
    float: left;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #d9d9d9;
}
div#user_container div#result_block li:last-child {
    border-right: none;
}
div#user_container .result_number {
    font-size: 16px;
    font-weight: bold;
}
div#user_container .result_text {
    color: #808080;
    font-family: 'Arial','Microsoft YaHei';
    font-size: 12px;
}

/* focus block */
#focus_block{
    padding-bottom: 15px;
}
#focus_block h5#sp{
    margin: 0;
    text-align: center;
}
#focus_block ul{
    margin: 0;
    padding: 0 7px;
    list-style: none;
    max-height: 112px;
    overflow-y: auto;
}
#focus_block li{
    position: relative;
    margin: 0 0 7px 0;
    padding-bottom: 7px;
    border-bottom: 1px dashed #e5e2e2;
}
#focus_block li:last-child{
    border: none;
}
#focus_block a{
    display: block;
    text-decoration: none;
}
#focus_block .focus_user_pic{
    position: absolute;
    top: 0;
    left: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
#focus_block .focus_user_pic>img{
    width: 100%;
    height: 100%;
}
#focus_block h5{
    margin: 0 0 0 70px;
    color: #333;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    font-weight: normal;
}


/* 修改头像板块 */
div#user_container div#motify_block {
    padding: 0 10px 12px;
}
div#user_container form.form {
    text-align: center;
}
div#user_container input#InputPic {
    margin: 7px 0 15px;
    width: 100%;
    overflow-x: hidden;
}
div#user_container button#btn-submit {
    width: 70px;
    font-size: 13px;
    padding: 0;
    height: 25px;
    line-height: 25px;
}