extends ../layout

block append style
	link(rel='stylesheet',href='/stylesheets/morePic.css')
	link(rel='stylesheet',href='/stylesheets/singlePic.css')
	link(rel='stylesheet',href='/stylesheets/index.css')

block content
	-var lists=[{id:1,picture:['/img/bg.jpg','/img/chat.svg']},{id:2,picture:['/img/bg.jpg','/img/chat.svg']},{id:2,picture:['/img/bg.jpg','/img/chat.svg']},{id:2,picture:['/img/bg.jpg','/img/chat.svg']},{id:2,picture:['/img/bg.jpg','/img/chat.svg']},{id:2,picture:['/img/bg.jpg','/img/chat.svg']}]
	
	mixin box(pic)
		if pic.length==1
			include singlePic
		else
			include morePic
	#container.clearfix
		each list in lists
			#box
				+box(list.picture)


