block append style
	link(rel="stylesheet",href="/stylesheets/login.css")
	link(rel="stylesheet",href="/stylesheets/bootstrap.css")

#loginblock
	p#title 用户登录
	form(method='post',action='index')
		.form-group
			label(for="account" ) 账号
			input.form-control#account(name="account" placeholder="请输入账号")
		.form-group
			label(for="password") 密码
			input#password.form-control(name="password" placeholder="请输入密码")
		button#login.btn.btn-primary 登录
		p#loginError 用户账号或密码错误
		#enrollblock
		a(href='/regist')#enroll 注册
			
block append script
	script(src="/js/head.js")