-var picture=['/img/bg.jpg','/img/bg.jpg','/img/hot.jpg','/img/bg.jpg','/img/bg.jpg','/img/bg.jpg']
#picPanel
	each pic,item in picture
		if item==0
			img(src= pic,value= item)
		else 
	#row
		each pic,item in picture
			if item>=1
				img(src= pic,value= item)