-var pics=['/img/bg.jpg','/img/chat.svg']
if pics.length==1
	#picPanel
		each pic in pics
			img#singlePic(src='#{pic}')
else
	#picsPanel
		each pic,item in pics
			if item==0
				img(src= pic,value= item)
			else 
				#row
					each pic,item in pics
						if item>=1
							img(src= pic,value= item)