block append style
    link(rel="stylesheet",href="/stylesheets/login.css")
    link(rel="stylesheet",href="/stylesheets/bootstrap.css")


#loginblock
    p#title 用户注册
        form.form-horizontal(method='post',action='/doRegist')
            .form-group
                label(for="account") 账号
                input.form-control#account(type="text", name="account")
            .form-group
                label(for="password") 密码
                input.form-control#password(type="password", name="password")
            button#regist.btn.btn-default(type="submit") 注册